.outbox{
    border: solid 1px;
    height: 1450px ;
    background-image:url(bur.jpg) ;
    background-size: 1450px 800px;
    background-repeat: no-repeat;
}
#nav{
    border: solid 1px white;
    height: 50px;
    line-height: 50px;

}
#in{
    color: rgb(245, 248, 244);
    font-size: 50px;
    text-decoration: none;
    padding-right: 25px;
    font-weight: bold;
}
#out{
    border: solid 1px;
    height: 450px;
    
}
#l{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    text-shadow: 3px 3px 5px white;
}
