.obox{
    border: solid 1px;
    height: 900px;
    background-image: url(WhatsApp\ Image\ 2024-10-04\ at\ 11.23.17_93b82214.jpg);
    background-repeat: no-repeat;
    background-size: 1550px 900px;
}
#delish{
    color: beige;
    font-style: oblique;
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
}
#register,#login{
    width: 160px;
    height: 50px;
    background-color: aquamarine;
}
#register{
    margin-left: 590px;
}
#register a,#login a{
    color: rgb(5, 5, 5);
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
#register:hover{
    background-color: rgb(16, 15, 15);
}
#login:hover{
    background-color: violet;
}
